<html>
    <head>
        <title> The Gossip Project </title>
    </head>
    <body>
    <br>
        <h1> Voici le gossip N° <%= params[:id]%> que tu souhaitais afficher ! </h1><br>
            <p>
              <h3> Auteur : <%= @real_gossip.user.first_name %> <%= @real_gossip.user.last_name %>. Et voici <a href="/author/<%= @real_gossip.user.id %>">le lien</a> vers l'auteur </h3>
              <h3> Contenu : <%= @real_gossip.content %></h3><br>
              <h4> Créé le : <%= @real_gossip.created_at %></h4
            </p>


    </body>
</html>
